html{
  margin:0px;
  padding:0px;
  height:100%;
}
body{
  margin:0px;
  height:100%;
  width:100%
}
#root{
  margin:0px;
  height:100%;
  width:100%
}
#wrapper{
  margin:0px;
  height:100%;
  width:100%
}
.bigBox{
  width: 100%;
  height: 100%;
  background-color: darksalmon;
}
.sideBox{
  /* background-color:deeppink; */
  width: 400px;
  height:inherit;
  padding-top: 75px;
  position:fixed;
}
#mainBox{
  --gradientColor: magenta;
  --gradientBKRD: rgb(247, 238, 212);
  padding-top: 75px;
  background:
  radial-gradient(circle, transparent 20%, var(--gradientBKRD) 20%, var(--gradientBKRD) 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, var(--gradientBKRD) 20%, var(--gradientBKRD) 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(var(--gradientColor) 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, var(--gradientColor) 8px, transparent 8px) -4px 0;
  background-color: var(--gradientBKRD);
  background-size:50px 50px, 50px 50px, 25px 25px, 25px 25px;
  width : 100%;
  min-height: calc(100% - 75px);
  padding-bottom: 75px;
}
.mainContent{
  background-color: rgb(116, 143, 219);
  width: calc(100% - 575px);
  margin-left: 500px;
  margin-right: 75px;
  margin-bottom: 75px;
}
.bannerBox{
  /* background-color:forestgreen; */
  width: 350px; 
  height: 1000px; 
  margin-left: 75px;  
  
}
.bio{
  background-color:rgb(19, 19, 19);
  width: 100%;
  height:80%;

}
.biotail{
  /* background-color:rgb(77, 132, 177); */
  width: 100%;
  height:20%;
}
.biotailtriangles{
  width: 100%;
  height:100%;
}

#triangleLeft {
  width: 0;
  height: 0;
  border-top: 175px solid rgb(19, 19, 19);
  border-right: 175px solid transparent;
  float: left;
  /* border-top: 100px solid red;
  border-left: 100px solid transparent; */
}
#triangleRight {
  width: 0;
  height: 0;
  border-top: 175px solid rgb(19, 19, 19);
  border-left: 175px solid transparent;
  float: right;
  /* border-top: 100px solid red;
  border-left: 100px solid transparent; */
}